[submodule "ALE"]
	path = /Users/cempassi/.config/vim/pack/bundle/opt/ale
	url = https://github.com/dense-analysis/ale.git

[submodule "airline"]
	path = /Users/cempassi/.config/vim/pack/bundle/opt/airline
	url = https://github.com/vim-airline/vim-airline.git
